* {
  font-family: "IBM Plex Serif";
}
body {
  margin: 0;
  font-family: "IBM Plex Serif";
}

a {
  text-decoration: none;
  color: rgba(27, 146, 255, 1);
}

li {
  list-style: none;
}

/* header */
header {
  /* background-color: cadetblue; */
  display: flex;
  justify-content: center;
}

#headercontainer {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px;
}

/* add */
.header_logo:hover {
  cursor: pointer;
}

.header_logo i {
  font-size: 30px;
  color: rgba(27, 146, 255, 1);
}

.header_logo span {
  margin: 0px auto 0px 10px;
  font-size: 24px;
  color: #303030;
  font-family: "Gowun Dodum", serif;
  font-weight: bold;
}

/* right links */
.header_links {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  margin: 16px;
  padding: 0px;
}

.header_links li {
  margin-left: 10px;
}

.header_links li a i {
  color: rgba(27, 146, 255, 1);
}

/* add */
.header_links li a i:hover {
  color: rgb(24, 65, 209);
}

/* navbar */
.navbar {
  /* background-color: yellowgreen; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.navbar_menu {
  /* background-color: yellow; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  margin: 0px 16px;
}

/* news text fix */
.navbar_menu li {
  padding: 10px 16px;
  font-size: 24px;
  font-weight: 600;
  transition: transform 250ms;
}

/* join 페이지에서 선택된 상태 */
.navbar_menu li:nth-child(4) {
  transform: translateY(-8px);
  scale: 120%;
  font-weight: bold;
  padding: 10px 16px;
  font-size: 24px;
  font-weight: 600;
  transition: transform 250ms;
}
/* 선택된 페이지 a */
#news{
  color: rgb(24, 65, 209);
}

/* 다른 메뉴들 선택시 */
.navbar_menu li:hover {
  transform: translateY(-8px);

  scale: 120%;
  font-weight: bold;
}

.navbar_menu a:hover {
  color: rgb(24, 65, 209);
}

/* main */
main {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  border: 1px rgba(27, 146, 255, 1);
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(27, 146, 255, 1);
  /* background-color: rgb(216, 216, 21); */
  display: flex;
  flex-direction: row;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
}

.news-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.newsserch {
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* align-items: center; */
  padding: 8px;
  font-family: 'Gowun Dodum';
  margin: 0px;
}

h1 {
  font-family: "Gowun Dodum", serif;
  margin: 0px 0px  16px;
  font-size: 34px;
}

.search-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

#searchButton {
  margin-left: 10px;
  color: #303030;
  background: #cfe2ff;
  border: 1px solid #cfe2ff;
}

#searchButton:hover {
  background: rgba(27, 145, 255, 0.816);
}

#searchKeyword{
  height: 40px;
  width: 70%;
  padding: 1px 10px;
  border: 1px solid #cfe2ff;
}

.news-item {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-item:hover {
  background-color: #e8f0fe46;
}

.news-item h2 {
  font-size: 26px;
  margin-top: 0;
  color: #333;
}

.news-item p {
  color: #555;
}

.headline {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}


/* 미디어 쿼리 */
@media screen and (max-width:756px){
  
  .header_logo {
    flex-wrap: wrap;
  }
  .logo_title {
    display: flex;
    flex-direction: column;
  }

  .logo_title span{
    font-size: 20px;
    font-weight: bold;
  }

}


